.wrapper {
  max-width: 65vw;
  background-color: #fcf6f5ff;
  margin: 0 auto;
  min-height: 90vh;
  padding: 1.5rem 0;
  @media (max-width: 1024px) {
    min-width: 70vw;
  }
  @media (max-width: 768px) {
    max-width: initial;
  }
}

.container {
  max-width: 55vw;
  padding: 1rem;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 2rem;
  min-height: 13rem;
  align-items: center;
  @media (max-width: 1024px) {
    max-width: 70vw;
  }
  @media (max-width: 768px) {
    max-width: 60vw;
  }
  @media (max-width: 425px) {
    max-width: initial;
    padding: 0;
  }
}

.swapWindow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: 1.5rem;
  align-items: center;
  @media (max-width: 768px) {
    flex-flow: column nowrap;
    padding: 1rem 0.3rem;
  }
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.equal {
  font-weight: 700;
  font-size: 3rem;
}

.currencyIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
