*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  list-style: none;
}

.app {
  min-height: 100vh;
  height: 850px;
}
.wrapper {
  max-width: 60vw;
  background-color: #fcf6f5ff;
  margin: 0 auto;
  min-height: 90vh;
}

.header {
  width: 100vw;
  min-width: 20vw;
  min-height: 10vh;
  background-color: rgb(10, 20, 110);
  color: #fcf6f5ff;
}

.header-wrapper {
  margin: 0 auto;
  padding: 0.25rem 0;
  max-width: 60vw;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-weight: 600;
  font-size: 3.5rem;
  text-align: center;
}

.currency-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 12rem;
}
.currency-list {
  width: 100%;
  padding-top: 0.5rem;
}

.currency-pair {
  display: flex;
  justify-content: space-evenly;
}
